---
layout: default
title: Home | datawithalvin
---

<main id="main">
    <h1>📊 alvin noza</h1>
    <p>Welcome to my professional portfolio, a testament to my journey as a passionate Junior Data Scientist. My experience spans across utilizing machine learning models, natural language processing, and data visualization to support informed business strategies. Key to my success is the ability to transform and cleanse complex datasets into clean, usable formats, thereby enhancing my capacity to extract actionable insights</p>
    <p>Continually expanding my knowledge base, I'm dedicated to making meaningful contributions to the data science community. You'll find a variety of projects in this portfolio, each reflecting my proficiencies and commitment to data-driven decision making. Feel free to explore these projects, and if any pique your interest or if you wish to discuss data-centric collaborations, do not hesitate to reach out.</p>
    <p>Currently, the portfolio contains {{ site.posts | size }} posts  outlined below:</p>
    <ul class="list">
        <!-- Use Liquid tags to generate list of posts -->
        {% assign counter = 0 %}
        {% assign page = 1 %}
        {% for post in site.posts %}
        {% assign counter = counter | plus:1 %}
        <li class="list-item" data-page="{{ page }}">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <small class="date">{{ post.date | date: "%d.%m.%Y" }}</small>
                <span>{{ post.title }}</span>
            </a>
            <small class="project-summary" id="post-content">{{ post.excerpt }}</small>
        </li>
        {% if counter == 8 %}
        {% assign counter = 0 %}
        {% assign page = page | plus:1 %}
        {% endif %}
        {% endfor %}
    </ul>
    <!-- <div class="navigation-buttons">
        <button id="prev-button" disabled>Previous</button>
        <button id="next-button">Next</button>
    </div> -->
</main>