---
layout: default
title: Home | datawithalvin
---

<main id="main">
    <h1>📊 datawithalvin</h1>
    <p> Oh, hi! Welcome to my little corner of the internet, where you'll find a bunch of stuff I've done in my free time. Like, I don't know, data viz and stuff? I mean, it's not like I'm trying to impress you or anything. But yeah, take a look around if you want and if anything catches your eye, feel free to drop me a line. I'm always up for a chat about all things data.</p>
    <p>So far, there are {{ site.posts | size }} posts in the list below:</p>
    <ul class="list">
        <!-- Use Liquid tags to generate list of posts -->
        {% assign counter = 0 %}
        {% assign page = 1 %}
        {% for post in site.posts %}
        {% assign counter = counter | plus:1 %}
        <li class="list-item" data-page="{{ page }}">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <small class="date">{{ post.date | date: "%d.%m.%Y" }}</small>
                <span>{{ post.title }}</span>
            </a>
            <small class="project-summary" id="post-content">{{ post.excerpt }}</small>
        </li>
        {% if counter == 8 %}
        {% assign counter = 0 %}
        {% assign page = page | plus:1 %}
        {% endif %}
        {% endfor %}
    </ul>
    <div class="navigation-buttons">
        <button id="prev-button" disabled>Previous</button>
        <button id="next-button">Next</button>
    </div>
</main>