---
layout: default
title: Home | datawithalvin
---

<main id="main">
    <h1>📊 alvin noza</h1>
    <p>Greetings! Welcome to my professional portfolio, a dedicated space showcasing my knowledge in data world. Here, you'll discover a diverse range of projects that demonstrate my proficiency in data visualization, analytics, and dashboarding, all aimed at delivering valuable insights and driving data-driven decision-making.</p>
    <p>As a passionate data scientist, I strive to expand my knowledge and make meaningful contributions to the world of data. Please, take your time to explore my work, and if you're interested in discussing any projects or collaborating on all things data, don't hesitate to get in touch.</p>
    <p>Anyway, so far there are {{ site.posts | size }} posts in the list below:</p>
    <ul class="list">
        <!-- Use Liquid tags to generate list of posts -->
        {% assign counter = 0 %}
        {% assign page = 1 %}
        {% for post in site.posts %}
        {% assign counter = counter | plus:1 %}
        <li class="list-item" data-page="{{ page }}">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <small class="date">{{ post.date | date: "%d.%m.%Y" }}</small>
                <span>{{ post.title }}</span>
            </a>
            <small class="project-summary" id="post-content">{{ post.excerpt }}</small>
        </li>
        {% if counter == 8 %}
        {% assign counter = 0 %}
        {% assign page = page | plus:1 %}
        {% endif %}
        {% endfor %}
    </ul>
    <!-- <div class="navigation-buttons">
        <button id="prev-button" disabled>Previous</button>
        <button id="next-button">Next</button>
    </div> -->
</main>